<br>
 <h2 style="text-align: center;font-size: 20px;"><i><b>Create Quiz</b></i></h2>
 <br>
<form [formGroup]="StaffCourseForm"  (ngSubmit)="onSubmit()">
   
<table class="table table-hover table-sm" >
    <!-- <tr>
        <th>StaffId</th>
        <td><input  type="text" class="form-control" name="staffId" [(ngModel)]="staffId" [value]="staffId" formControlName="staffId" disabled:true></td>
    </tr> -->
    <tr>
        <th>Course</th>
        <td>
            <select  (focus)="getCourse()" class="custom-select" style="height: 35px" name="code" formControlName="code" required>
              <option value="">Select Course</option>
              <option *ngFor="let subject of subjects">{{subject?.code}}</option>
            </select>
        </td>
    </tr>

    <tr>
        <th>Quiz Name</th>
        <td><input  type="text" class="form-control" name="name" formControlName="name" required>
        <div *ngIf="name?.invalid && (name?.touched||name?.dirty)" class="alert alert-danger">
            <div *ngIf="name?.errors?.required">
                QuizName is required..
            </div>
        </div>
        </td>
        
    </tr>

    <tr>
        <th>QuizDate</th>
        <td><input  type="date" class="form-control" name="quizDate" formControlName="quizDate" required></td>
    </tr>
    <tr>
        <th>Pass Percentage</th>
        <td><input  type="number" class="form-control" name="pass" formControlName="pass" required></td>
    </tr>

    <!-- <tr>
        <td></td>
        <td><input  type="submit" value="CreateQuiz"></td>
    </tr>

    <tr></tr>
  
    <tr>
        <td><a (focus)="setSubCode()" href='viewQuiz'>To Edit previous Quiz</a></td>
        <td><a href="staff">Back to Dashboard</a></td>
    </tr> -->
</table>

<input  style="margin-left: 210px;" class="button btn-info" type="submit" value="CreateQuiz">
<!-- <button style="margin-left: 2px;"  class="button btn-info" (click)="publish()">PublishQuiz</button><br><br> -->
<!-- <a style="margin-left: 210px;"(focus)="setSubCode()" href='staffdashboard/viewquiz'>To Edit previous Quiz</a> -->


</form>
