<br>
<div>
<form [formGroup]="getClassDetails">
    <table class="table table-hover table-sm">
        <tr>
            <td>RegisterNo</td>
            <td><input type="number" class="form-control" formControlName="rollNo" name="rollNo" (change)="getStudent()" required></td>
        </tr>
        <tr>
            <td>Standard</td>
            <td><input type="text" class="form-control" formControlName="standard" value={{student.classRoom?.standard}} name="standard" required></td>
        </tr>
        <tr>
            <td>Section</td>
            <td><input type="text" class="form-control" formControlName="section" value={{student.classRoom?.section}} name="section"  required></td>
        </tr>
    </table>
    <button  (click)=getClass() class="button btn-info">Get QuizDetails</button>
</form>
<br>
<div *ngIf="subjects.length>0">
<form>
    <table class="table table-hover table-sm">
        <tr>
            <th>Subjects</th>
            <!-- <th>StaffId</th> -->
            <th>TotalCreatedQuiz</th>
            <th>AvailableQuiz</th>
            <th>Completed</th>
            <th>ExpiredQuiz</th>
        </tr>
        
        <tr  *ngFor="let subject of subjects;let i=index">
            <td>{{subject.code}}</td>
            <td style="text-align: center;">{{totalQuiz[i]}}</td>
            <td style="text-align: center;">{{pendingQuiz[i]}}</td>
            <td style="text-align: center;">{{completedQuiz[i]}}</td>
            <td style="text-align: center;">{{ExpiredQuiz[i]}}</td>
            <!-- <td>{{teachersId[i]}}</td> -->
        </tr>
    </table>
</form>
</div>
</div>
