<div >
    <div class="bg">
    <h2 style="text-align: center;font-size: 20px;height:40px;"><i><b>Welcome</b></i></h2>
    </div>
    <!-- <div>
    <ul>
        <li><a href="studenthome">Home</a></li>
        <li><a href="studentviewquiz">View Quiz</a></li>
        <li><a href="takequiz">Take Quiz</a></li>
        <li><a href="studentviewprofile">View Profile</a></li>
        <li><a href="">Update Profile</a></li>
        <li><a href="studentviewresult">Result</a></li>
      </ul>
    </div> -->

    <div class="sidenav">
      <a routerLink="addclass" routerLinkActive="active">Add Class</a>
      <a routerLink="addstudent" routerLinkActive="active">Add Student</a>
      <a routerLink="viewstudent" routerLinkActive="active">View Student</a>
      <a routerLink="addteachersubject" routerLinkActive="active">Staff Assign</a>
      <a routerLink="addsubject" routerLinkActive="active" >Add Subject</a>
      <a routerLinkActive="active" (click)="logout()">Logout</a>
      <!-- <a routerLink="">Update Profile</a>
      <a routerLink="">Result</a> --> 
    </div>
    
</div>
<router-outlet></router-outlet>


