<br>
<div class="box">
    <br>
    <h4 style="text-align: center;" class="title"><i><b>Login Credentials Form</b></i></h4>
    <br>
    <form [formGroup]="studentLoginForm">
      <table>
    <tr>
        <th>LoginID</th>
        <td><input type="number" required  class="form-control" name="rollNo" (change)="checkId()" formControlName="rollNo"></td>
    </tr>
    <tr>
        <th>Password</th>
        <td><input type="text" class="form-control" name="password" formControlName="password" required></td>
    </tr>
  
    <tr>
        <th><label>Confirm Password</label></th>
        <td><input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword" required></td>
    </tr>
    <br>
  
    </table>
    <button style="width:70px;margin-left: 100px;" class="button btn-info" (click)="login()">Submit</button>
  </form>
    <br>
    <br>
    </div>

