<br>
<h3 style="text-align: center;font-size: 20px;"><b><i>Add TeacherSubject</i></b></h3>
<form [formGroup]="addClass">
    <br>
    <table class="table table-hover table-sm">
        <tr>
            <th>Standard</th>
            <td><input type="text" class="form-control" (change)="getCourse()" name="standard"
                    formControlName="standard" required></td>
        </tr>
        <tr>
            <th>Section</th>
            <td><select class="custom-select" style="height: 35px" name="section" formControlName="section" required>
                    <option>A</option>
                    <option>B</option>
                </select></td>
        </tr>
        <tr>
            <th>Course</th>
            <td>
                <select class="custom-select" style="height: 35px" (focus)="getStaff()" name="code" formControlName="code" required>
                    <option value="">Select Course</option>
                    <option *ngFor="let subject of subjects">{{subject?.code}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Staff</th>
            <td>
                <select class="custom-select"  (change)="getstaffAssign()" style="height: 35px" name="staff" formControlName="staff" required>
                    <option value="">Select Staff</option>
                    <option *ngFor="let teacher of teachers">{{teacher?.firstName}}-{{teacher?.id}}</option>
                </select>
            </td>
        </tr>

    </table>
    <br>
    <button (click)="add()"  class="button btn-info">AssignStaff</button>
</form>