<div >
    <div class="bg">
    <h2 style="text-align: center;font-size: 20px;"><i>Welcome Staff!</i></h2>
    </div>
    
    <!-- <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="createquiz">Create Quiz</a></li>
        <li><a routerLink="viewcoursequiz">View Quiz</a></li>
        <li><a routerLink="">View Student</a></li>
        <li><a routerLink="">Result</a></li>
      </ul> -->

      <div class="sidenav">
        <a routerLink="">Home</a>
        <a routerLink="createquiz">Create Quiz</a>
        <a routerLink="viewcoursequiz">View Quiz</a>
        <a routerLink="">View Student</a>
        <a routerLink="">Result</a>
      </div>
    </div>
    
<router-outlet></router-outlet>