 <div >
    <div class="bg">
    <h2 style="text-align: center;font-size: 20px;height:40px;"><i><b>Welcome {{student.name}}</b></i></h2>
    </div>
    

    <div class="sidenav">
      <a routerLink="studenthome" routerLinkActive="active">Home</a>
      <a routerLink="studentviewquiz" routerLinkActive="active">View Quiz</a>
      <a routerLink="studentviewprofile" routerLinkActive="active">View Profile</a>
      <a routerLink="studentviewresult" routerLinkActive="active">Result</a>
      <a routerLink="logout" (click)="logout()" routerLinkActive="active">Logout</a>
  </div>
</div> 

<!-- <ng-sidebar-container>
  <ng-sidebar [(opened)]="opened">
    
   
    <ul>
      <li><a routerLink="/studenthome">Home</a></li>
      <li><a routerLink="/studentviewquiz">View Quiz</a></li>
      <li><a routerLink="/studentviewprofile">View Profile</a></li>
      <li> <a routerLink="/studentviewresult">Result</a></li>
    </ul>
  </ng-sidebar>
  <div ng-sidebar-content>
    <button class="button btn-info" (click)="toggle()">
     open
    </button>
  </div>
</ng-sidebar-container> -->

<router-outlet></router-outlet>

