<div >
    <div class="bg">
    <h2 style="text-align: center;font-size: 20px;"><i>Welcome Student!</i></h2>
    </div>
    <!-- <div>
    <ul>
        <li><a href="studenthome">Home</a></li>
        <li><a href="studentviewquiz">View Quiz</a></li>
        <li><a href="takequiz">Take Quiz</a></li>
        <li><a href="studentviewprofile">View Profile</a></li>
        <li><a href="">Update Profile</a></li>
        <li><a href="studentviewresult">Result</a></li>
      </ul>
    </div> -->

    <div class="sidenav">
      <a routerLink="studenthome">Home</a>
      <a routerLink="studentviewquiz">View Quiz</a>
      <!-- <a routerLink="takequiz">Take Quiz</a> -->
      <a routerLink="studentviewprofile">View Profile</a>
      <!-- <a routerLink="">Update Profile</a> -->
      <a routerLink="studentviewresult">Result</a>
    </div>
    
</div>
<router-outlet></router-outlet>

