<!-- <app-student-dashboard></app-student-dashboard>  -->
<br>
<h2 style="text-align: center;font-size: 20px;"><i>Enter Details</i></h2>
<form [formGroup]="getClassDetails" (ngSubmit)="onSubmit()">
    <table class="table table-hover table-sm">
        <tr>
            <td>RegisterNo</td>
            <td><input type="number" class="form-control" formControlName="rollNo" name="rollNo" (change)="getStudent()" required></td>
        </tr>
        <tr>
            <td>Standard</td>
            <td><input type="text" class="form-control" formControlName="standard" value={{student.classRoom?.standard}} name="standard" required></td>
        </tr>
        <tr>
            <td>Section</td>
            <td><input type="text" class="form-control" formControlName="section" value={{student.classRoom?.section}} name="section" required></td>
        </tr>
        <tr>
            <td>ClassNo</td>
            <td><input type="number" class="form-control"  value={{student.classRoom?.roomNo}} formControlName="roomNo" name="roomNo"></td>
        </tr>
        <tr>
            <td>Courses</td>
            <td>
                <select  (focus)="getCourse()" class="custom-select" style="height: 35px" name="code" formControlName="code" required>
                  <option value="">Select Course</option>
                  <option *ngFor="let subject of subjectDetails">{{subject.code}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Get Quiz" class="btn btn-primary"></td>
        </tr>
    </table>

   </form>
   <form>
    <div *ngIf="quizDetails.length>0">   
    <table  class="table table-hover table-sm">
        <tr>
            <th>QuizId</th>
            <th>QuizName</th>
            <th>QuizDate</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let quiz of quizDetails">
            <td>{{quiz.autoId}}</td>
            <td>{{quiz.name}}</td>
            <td>{{quiz.quizDate}}</td>

            <td><button (click)="takeTest(quiz.autoId)" [disabled]="quiz?.quizDate<today" class="button btn-info">TakeTest</button></td> 
            <div>
            <small style="margin-left: 12cm"  *ngIf="quiz?.quizDate<today" class="text-danger">
                * QuizDate is expired, Not able to take quiz..
            </small>  
        </div>
    
        </tr>
    </table> 
    
    </div>   
</form>
<!-- <router-outlet></router-outlet> -->
