<body>
<br>
<h4 style="text-align: center;"><b><i>Profile</i></b></h4>
<form id="profile">
    <br>
    <table class="table table-bordered table-sm">
        <tr>
            <th>RegisterNo</th>
            <td>{{student.rollNo}} </td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{student.name}}</td>
        </tr>
        <tr>
            <th>Standard</th>
            <td>{{student.classRoom?.standard}}</td>
        </tr>
        <tr>
            <th>Section</th>
            <td>{{student.classRoom?.section}}</td>
        </tr>
        <tr>
            <th>DateOfBirth</th>
            <td>{{student.dateOfBirth}}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{student.gender}}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{student.address}}</td>
        </tr>
    
    </table>
    <br>
    <button style="margin-left: 19.5cm;" (click)="update()" class="button btn-info">Update</button>
</form>

</body>